= simple_form_for @book, html: {multipart: true} do |f|
  - if @book.errors.any?
    #errors
      %p
        = @book.errors.count
        Prevented this book from saving
      %ul
        - @book.errors.full_messeges.each do |msg|
          %li= msg
  .panel-body
    = f.input :title, input_html: { class: 'form-control' }
    = f.input :description, input_html: { class: 'form-control' }

  = f.button :submit, class: 'btn btn-primary'