%h1= @book.title
%p= @book.description

= link_to 'Back', root_path
= link_to 'Edit', edit_book_path(@book)
= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Really wanna delete this book?'}